<html>

 <body>
	<div>
	<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/posts/create">New Post</a></li>
	<% if post_show_page?  %>
		<li><a href="/posts/<%= @post.id %>/edit">Edit Post</a></li>
		<li><%= delete_post_button(@post.id) %></li>
       <% end %>
	</ul>
	</div>
	<div>
	<%= yield %>
	</div>
 </body>
</html>